{% extends 'base.html' %}

 {% load crispy_forms_tags %}
 {% load static %}

 {% block blogproblem %}
 {% endblock %}
 {% block body %}

<div class="jumbotron">
	<h1>Create New Blog</h1>
<form method = "POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|crispy }}

	
	<br>
	<button type="submit" class="btn btn-outline-success" style="height:50px;width:100px"  ><h3>Summit</h3></button>
	<hr>

</form>
</div>


 {% endblock %}
 {% block content1 %}
 {% endblock %}
 {% block content2 %}
 {% endblock %}
