
{% extends 'base.html' %}

 {% load crispy_forms_tags %}
 {% load static %}

 {% block blogproblem %}
 {% endblock %}
 {% block body %}
<div class="jumbotron">

<ul>
	 <h1>Blog list</h1>
    {% for blog in blogs %}
   	<h2><li><a href="/movie2/blog/{{blog.id}}/detail/">{{ blog.title }}</a></li></h2>
  	{% endfor %}
</ul>
<br>
<h1>Create a blog</h1>
<h2> <a  href="/movie2/blog/create/">
<button type="button" class="btn btn-outline-success" >Create</button>
 </a></h2>
</div>

  {% endblock %}
 {% block content1 %}
 {% endblock %}
 {% block content2 %}
 {% endblock %}

