{% extends 'base.html' %}

 {% load crispy_forms_tags %}
 {% load static %}

 {% block blogproblem %}
 {% endblock %}
 {% block body %}



<div class="jumbotron" style = "position:relative; left:20px; top:2px; background-color:#efeae5;">
         
  
<div class="center" style ="text-align: center">
  <h1><u>{{blogdetail.title}}</u></h1>>
</div>

  <hr>
  <img src="{{blogdetail.image.url}}" class ='img-responsive'>
  <hr>
  <h2>{{blogdetail.content}}</h2>
  <hr>
  <h3>Posted by:<i>{{blogdetail.author}}</i></h3>
  <h3>Posted on :<i>{{blogdetail.published}}</i></h3>

 <a  href="/movie2/blog/{{blogdetail.id}}/update/"><button type="button" class="btn btn-outline-success" >Update</button></a>
 <a  href="/movie2/blog/{{blogdetail.id}}/delete/"><button type="button" class="btn btn-outline-danger" >Delete</button></a>

 </div>
  {% endblock %}
 {% block content1 %}
 {% endblock %}
 {% block content2 %}
 {% endblock %}
